
<div class="redirect">
  <div class="container content-redirect">
  <h3 class="content-redirect">
    Your Details Have Been Recorded, Response for your Appointment Will be
    Mailed
  </h3>
  <h2 class="content-redirect">Check Your Mail For the Response</h2>
  <div class="text-center content-redirect">
    <a href="/" class="text-center"
      ><button class="btn btn-primary text-center">Home</button></a
    >
  </div>
</div></div>


